.home-container {
    height: 100vh;
}
.demo-logo-vertical {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 6rem;
}
.home-img {
    width: 100%;
    height: 100%;
}

